.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.grid > div {
  background-color: white;
  padding: 15px;
  text-align: center;
}

.coord-x-container {
  display: flex;
  justify-content: center;
}

.coord-x {
  text-align: center;
  width: 30px;
  height: 30px;
  margin-left: 1px;
}

.coord-y {
  text-align: center;
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}
.coord-y-container {
  margin-top: 30px;
}
