* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #355c7d;
  --secondary-bg-color: #6c5b7b;
}

#gameboard {
  height: calc(100vh - 55px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.grid > div {
  background-color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.placed-ship {
  background-color: var(--main-bg-color) !important;
}

.coord-x-container {
  display: flex;
  justify-content: center;
}

.coord-x {
  text-align: center;
  width: 30px;
  height: 30px;
  margin-left: 1px;
}

.coord-y {
  text-align: center;
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}

.ship-cell {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: var(--main-bg-color);
}
