* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #355c7d;
  --secondary-bg-color: #6c5b7b;
}

.battleship-grid {
  display: grid;
  grid-template-columns: repeat(10, 4.6vmin);
  grid-template-rows: repeat(10, 4.6vmin);
  background-color: hsl(200, 100%, 50%);
  margin: 2vmin;
}

.computer-grid > .taken {
  background-color: grey !important;
  border-radius: 0 !important;
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.grid-display {
  margin: 2vmin 0 2vmin 0;
}

#restart {
  display: none;
}

.taken,
.ship {
  background-color: hsl(0, 0%, 80%);
  position: relative;
}

.taken.start.vertical,
.taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.taken.start.horizontal,
.taken.start.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.taken.end.horizontal,
.taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: "";
  position: absolute;
  border: 0.3vmin solid white;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
}

.taken.horizontal::before {
  border-left: none;
  border-right: none;
}
.taken.vertical::before {
  border-top: none;
  border-bottom: none;
}

.ship div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.destroyer-container {
  --width: 2;
}
.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
  flex-direction: column;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
  display: none;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}
.boom::after {
  background-color: red;
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
